body {
    text-align: center;  /* Zentrierung im Internet Explorer */
  }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 20px;
  text-align: center;
}

.bankproject-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #777777;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

.bankproject-simpletext {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
}

.bankproject-label {
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: gray;
	padding-bottom: 0.5em;
}

.bankproject-textfield {
	font-size: 100%;
	font-weight: normal;
	padding: 3px;
	width: 15em;
}

.bankproject-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

.bankproject-button {
	font-size: 100%;
	font-weight: bold;
}

div#TopLevelFrame {
	width: 800px;
	min-width: 300px;
	border: 1px solid silver;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
 }

div#Details {
	margin-left: 20em;
	min-height: 400px;
	max-height: 500px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
	border-left: 1px dashed silver;
	overflow:scroll;
}

div#Navigator {
	float: left;
	width: 18em;
	min-height: 30px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
}

div#AboUser {
	
}

div#AboSuche {
	
	
}

div#AboNav {
	margin-top: 50px;
	float: left;
	width: 18em;
	min-height: 300px;
	border:1px solid #ddd;
	overflow: scroll;
}

div#neuer_Beitrag {
	text-align: left;
	border:1px solid #ddd;
	height: 25px;
}

div#Beitrag {
	text-align: left;
	border:1px solid #ddd;
	height: auto;
	max-height: 60px;
	margin-top: 4px;
}

div#Kommentar {
	margin-left: 30px;
	border:1px solid #ddd;
	max-height: 60px;
	margin-top: 12px;
}

/**
Design des Beitrags
*/

div#KommentierenBeitrag {
	float: right;
	border: 1px solid #ddd;
}
div#BearbeitenLoeschenBeitrag {
	float: right;
	border: 1px solid #ddd;
}
div#NutzernameBeitrag, #NutzernameKommentar {
	font-weight:bold;
}
div#TextBeitrag {

}
div#Date {
	
}
div#LikeButton {
	float: right;
	border: 1px solid #ddd;
}
div#LikeCounter {
	float: right;
	border: 1px solid #ddd;
}
div#Loeschen {
	float: right;
	background-image: url(socialmediapinnwand/gwt/clean/images/loeschen.png);
	width: 18px;
	height: 18px;
}

/**
Design des Kommentars
*/

div#BearbeitenLoeschenKommentar {
	float: right;
	border: 1px solid #ddd;
}
div#TextBeitragKommentar {
	
}


div#Header {
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	/* border: 1px dashed silver; */
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
}


/**
	Ab hier: Alte Deklarationen. Können ggf. gelöscht werden.
*/
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}