body {
    text-align: center;  /* Zentrierung im Internet Explorer */
  }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 20px;
  text-align: center;
}
div#TopLevelFrame {
	width: 805px;
	min-width: 300px;
	border: 1px solid silver;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
 }

div#Details {
	margin-left: 20em;
	min-height: 500px; /*Früher 400px*/
	max-height: 600px; /*Früher 500px*/
	padding: 1em 1em;
	border-left: 1px dashed silver;
	overflow:scroll;
}

div#Navigator {
	float: left;
	width: 19em;
	min-height: 30px;
	padding: 1em 1em;
	max-height: 400px;
}
div#neuer_Beitrag {
	text-align: left;
	margin-top:4px;
}

div#Beitrag {
	text-align: left;
	height: auto;
	margin-top: 4px;
	width: 500px;
}

div#Kommentar {
	margin-left: 30px;
}
.Loeschen {
		float: right;
		background: url(images/loeschen.png);
		width: 18px;
		height: 18px;
}
.NutzerName {
	font-size: 22px;
	font-weight: bold;
}
.Date {
	font-size: 10px;
	font-weight: bold;
}
div#Header {
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
}

div#Footer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
}
/*Tabellendesign*/
.abonnierteUserAnzeigenTabelle {
	border: 1px solid #ddd;
}
.sucheResultatTabelle {
	border: 1px solid #ddd;
}
.suchTabelle {
	border: 1px solid #ddd;
}
.editUser {
	font-size: 18px;
}
.flexTable {
  height: 100px;
}
.panel {
  background-color: #C3D9FF;
  border: 1px solid #000000;
  padding: 3px;
  margin: 3px;
}
.umBruch {
	width: 250px;
	word-wrap: break-word;
}
.Kommentar {
	margin-left: 51px;
	background-color: #afc3e5;
  	border: 1px solid #000000;
  	padding: 3px;
  	width: 420px;
}