<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
  	<servlet-name>pinnwandVerwaltung</servlet-name>
  	<servlet-class>de.elite.itprojekt.server.PinnwandVerwaltungImpl</servlet-class>
  </servlet>
  
 <servlet-mapping>
 <servlet-name>pinnwandVerwaltung</servlet-name>
 <url-pattern>/socialmediapinnwand/pinnwandVerwaltung</url-pattern>
 </servlet-mapping>
 
 
 <!--  Report -->
 
   <servlet>
  	<servlet-name>reportGenerator</servlet-name>
  	<servlet-class>de.elite.itprojekt.server.report.ReportGeneratorImpl</servlet-class>
  </servlet>
  
 <servlet-mapping>
 <servlet-name>reportGenerator</servlet-name>
 <url-pattern>/socialmediapinnwand/reportGenerator</url-pattern>
 </servlet-mapping>

<!-- End of Report -->  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SocialMediaPinnwand.html</welcome-file>
  </welcome-file-list>

</web-app>
